<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <%- include("../layout/header") %>

        <table class="w-75 m-auto mt-5 table table-striped">
            <tr>
                <td>Image</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td colspan="2">Action</td>
            </tr>
            <% if(users){ users.forEach(row => { %>
                <tr>
                    <td>
                        <img src="<%= row.image %>" width="50" height="50" class="object-fit-cover" />
                    </td>
                    <td>
                        <%=row.name%>
                    </td>
                    <td>
                        <%=row.email%>
                    </td>
                    <td>
                        <%=row.phone%>
                    </td>
                    <td><a href="/edit_users/<%= row._id %>">Edit</a></td>
                    <td>
                        <form action="/delete_users/<%= row._id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }); } %>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>